
.title {
  margin: 2rem 5rem;
}

.flex {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-around;
  align-items: center;
}

.logo {
  background-color: #ffffff;
  padding: 2rem;
  margin: 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.203);
}
.logo h1{
  font-size: 2.3rem;
}

.links {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: rgba(196, 217, 255, 0.459);
  width: fit-content;
  color: darkblue;
  font-weight: 700;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}

.links:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(190, 190, 190, 0.342);
  transition-duration: 200ms;
  background-color: rgb(255, 184, 53);
  color: rgb(5, 5, 5);
}
