* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
}
.flex1 {
  display: flex;
  flex-direction: column;
}
.justify-between {
  justify-content:space-around;
  align-items:center;
}

.logo {
  background-color: #ffffff;
  padding: 2rem 13rem;
  margin: 4rem 15rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.203);
}
.logo1 {
  background-color: #ffffff;
  padding: 2rem ;
  margin: 4rem ;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.203);
}
.logo h1{
  font-size: 2.3rem;
}


body {
  font-family: "Open Sans", sans-serif;
}

.menu {
  background-color: rgb(221, 239, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-right: 10vh;
}

.menuItems {
  padding: 1.3rem 2rem;
  background-color: rgb(122, 193, 255);
  color: rgb(0, 59, 110);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.7rem;
}
a {
  text-decoration: none;
}

.menuItems:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

input[type=text]{
  
  margin-left: 1.5rem;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
}
.content{

  margin-top: 1px;
  float: inline-start;

}

.para {
  word-spacing: 0.3rem;
  font-size: 1rem;
}
.box {
  margin: auto;
  padding: 2rem;
  display: flex;
}
.menu{
  margin-bottom: auto;
}
.procedureSteps li {
  margin-top: 0px ;
}

button {
  background-color: rgb(122, 193, 255); /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 4px;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

